header .navbar {
  background-color: #E8112D;
}
header .navbar .navbar-brand {
  color: #FFF;
}
header .navbar .navbar-toggler {
  background-color: #FFF;
}
header .navbar .offcanvas {
  background-color: #E8112D;
}
header .navbar .offcanvas .offcanvas-header {
  color: #FFF;
}
header .navbar .offcanvas .offcanvas-body .nav-item .nav-link {
  color: #FFF;
}