@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
header section .navbar {
  background-color: #E8112D;
}
header section .navbar .navbar-brand {
  color: #FFF;
}
header section .navbar .navbar-brand .logo-container {
  position: relative;
  display: inline-block;
}
header section .navbar .navbar-brand .logo-container .logo-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
header section .navbar .navbar-brand .logo-container .page-title {
  font-family: "Dancing Script", serif;
  position: relative;
  z-index: 1;
  margin: 0;
}
header section .navbar .navbar-toggler {
  background-color: #FFF;
}
header section .navbar .offcanvas {
  background-color: #E8112D;
}
header section .navbar .offcanvas .offcanvas-header .offcanvas-title {
  color: #FFF;
  font-family: "Dancing Script", serif;
  font-size: 1.6rem;
}
header section .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .card .card-body .card-title {
  font-family: "Dancing Script", serif;
  font-size: 1.6rem;
}
header section .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .card .card-body .card-subtitle {
  font-family: "Dancing Script", serif;
  font-size: 1.2rem;
}
header section .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .card .card-body .btn-primary {
  border: 0;
  background-color: #E8112D;
}

@media screen and (max-width: 576px) {
  body {
    padding-top: 60px;
  }
  body header .navbar {
    height: 60px;
  }
  body header .navbar .navbar-brand .logo-container .logo-image {
    width: 2.5rem;
  }
  body header .navbar .navbar-brand .logo-container .page-title {
    font-size: 1.8rem;
  }
  body header .navbar .offcanvas-end {
    max-width: 90%;
  }
  body header .carousel-inner {
    height: calc(100vh - 60px);
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  body {
    padding-top: 80px;
  }
  body header .navbar {
    height: 80px;
  }
  body header .navbar .navbar-toggler {
    margin-right: 1.5%;
  }
  body header .navbar .navbar fixed-top .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body header .navbar .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  body header .navbar .navbar-toggler {
    margin-left: auto;
  }
  body header .navbar .navbar-brand .logo-container .logo-image {
    width: 2.5rem;
  }
  body header .navbar .navbar-brand .logo-container .page-title {
    font-size: 2rem;
  }
  body header .navbar .offcanvas-end {
    max-width: 260px;
  }
  body header .carousel-inner {
    height: calc(50vh - 80px);
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  body {
    padding-top: 100px;
  }
  body .navbar {
    margin: 0;
    padding: 0;
    height: 100px;
  }
  body .navbar .navbar-toggler {
    margin-right: 1.5%;
  }
  body .navbar .navbar fixed-top .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body .navbar .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  body .navbar .navbar-toggler {
    margin-left: auto;
  }
  body .navbar .navbar-brand .logo-container .logo-image {
    width: 3rem;
  }
  body .navbar .navbar-brand .logo-container .page-title {
    font-size: 2rem;
  }
  body .navbar .offcanvas-end {
    max-width: 280px;
  }
  body .carousel-inner {
    height: calc(100vh - 100px);
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  body {
    padding-top: 120px;
  }
  body header .navbar {
    margin: 0;
    padding: 0;
    height: 120px;
  }
  body header .navbar .navbar-toggler {
    margin-right: 1.5%;
  }
  body header .navbar .navbar fixed-top .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body header .navbar .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  body header .navbar .navbar-toggler {
    margin-left: auto;
  }
  body header .navbar .navbar-brand .logo-container .logo-image {
    width: 4rem;
  }
  body header .navbar .navbar-brand .logo-container .page-title {
    font-size: 3rem;
  }
  body header .navbar .offcanvas-end {
    max-width: 300px;
  }
  body header .carousel-inner {
    height: calc(100vh - 120px);
  }
}
@media screen and (min-width: 1200px) {
  body {
    padding-top: 200px;
  }
  body header .navbar {
    margin: 0;
    padding: 0;
    height: 200px;
  }
  body header .navbar .navbar fixed-top .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body header .navbar .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  body header .navbar .navbar-toggler {
    margin-left: auto;
  }
  body header .navbar .navbar-toggler {
    margin-right: 1.5%;
  }
  body header .navbar .navbar-brand .logo-container .logo-image {
    width: 5rem;
  }
  body header .navbar .navbar-brand .logo-container .page-title {
    font-size: 4rem;
  }
  body header .navbar .offcanvas-end {
    max-width: 320px;
  }
  body header .carousel-inner {
    height: 500px;
  }
}