header {

    .navbar {

        background-color: $primary-color;

        .navbar-brand {
            color: $white-color;

        }

        .navbar-toggler {
            background-color: $white-color;
        }

        .offcanvas {

            background-color: $primary-color;

            .offcanvas-header {
                color: $white-color;

            }

            .offcanvas-body {

                .nav-item {
                    .nav-link {
                        color: $white-color;
                    }
                }
            }
        }

    }
}