@import './media_query_header/576_down_header';
@import './media_query_header/577-768_header';
@import './media_query_header/769-991_header';
@import './media_query_header/992-1199_header';
@import './media_query_header/1200_up_header';


@media screen and (max-width: 576px) {
    body {
        padding-top: 60px;
        @include _576_down_header;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    body {
        padding-top: 80px;
        @include _577-768_header;
    }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
    body {
        padding-top: 100px;
        @include _769-991_header;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    body {
        padding-top: 120px;
        @include _992-1199_header;
    }
}

@media screen and (min-width: 1200px) {
    body {
        padding-top: 200px;
        @include _1200-up_header;
    }
}