@media screen and (min-width: 557px) and (max-width: 768px){
    .navbar {

        @include page-title-aligh;

        .navbar-brand {

            .logo-container {

                .logo-image {
                    width: 2.5rem;
                }

                .page-title {
                    font-size: 2rem;
                }
            }
        }

        .offcanvas-end {
                max-width: 260px;
            }
        }
    }
