@media screen and (min-width: 769px) and (max-width: 991px) {
    .navbar {

        height: 10vh;

        .navbar fixed-top .container-fluid {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .navbar-brand {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        
        .navbar-toggler {
            margin-left: auto;
        }

    }

    .offcanvas-end {
        max-width: 280px;
    }
}