@mixin _1200-up_header {
    .navbar {
        @include no-padding-no-margin;

        @include page-title-aligh;

        @include navbar-button-margin;

        .navbar-brand {
            .logo-container {
                .logo-image {
                    width: 5rem;
                }
                .page-title {
                    font-size: 4rem;
                }
            }
        }

        height: 200px;

        .offcanvas-end {
            max-width: 320px;
        }
    }
}