@import '_mixins';

@mixin _576_down_header {
    header {
        .navbar {
            height: 60px;
            .navbar-brand {
        
                .logo-container {
        
                    .logo-image {
                        width: 2.5rem;
                    }
        
                    .page-title {
                        font-size: 1.8rem;
                    }
                }
            }
        
            .offcanvas-end {
                max-width: 90%;
            }
        }
    
        .carousel-inner {
            height: calc(100vh - 60px);
        }
    }
}