@mixin _577-768_header {
    header {

        .navbar {
            @include navbar-button-margin;

            @include page-title-aligh;
    
            .navbar-brand {
    
                .logo-container {
    
                    .logo-image {
                        width: 2.5rem;
                    }
    
                    .page-title {
                        font-size: 2rem;
                    }
                }
            }

            height: 80px;
    
            .offcanvas-end {
                max-width: 260px;
            }
        }

        .carousel-inner {
            height: calc(50vh - 80px);
        }
    }
}
