@mixin _769-991_header {
    .navbar {

        @include no-padding-no-margin;

        @include navbar-button-margin; 

        height: 100px;

        @include page-title-aligh;

        .navbar-brand {
            .logo-container {
                .logo-image {
                    width: 3rem;
                }
                .page-title {
                    font-size: 2rem;
                }
            }
        }

        .offcanvas-end {
            max-width: 280px;
        }
    }

    .carousel-inner {
        height: calc(100vh - 100px);
    }
}