@mixin _992_1199_header {

    .navbar {

        @include no-padding-no-margin;

        height: 120px;

        @include page-title-aligh;

        .navbar-brand {
            .logo-container {
                .logo-image {
                    width: 4rem;
                }
                .page-title {
                    font-size: 3rem;
                }
            }
        }

        .offcanvas-end {
            max-width: 300px;
        }
    }
}